.app {
  background-color: black;
  height: 100vh;
  color: aliceblue;
  overflow: hidden;
}
.header {
  height: 15%;
  background-color: #242020;
}
.main {
  height: 85%;
  background-color: #0f0b0b;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust the width as needed */
  gap: 10px; /* Adjust the gap between boxes as needed */
}
.card {
  height: 200px;
  width: 140px;
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: #0f0b0b;
}
.header button {
  background-color: yellow;
  margin: 3px;
}
