.app {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  color: aliceblue;
  overflow: hidden;
}
.header {
  height: 15%;
  background-color: #242020;
}
.main {
  height: 85%;
  background-color: #0f0b0b;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust the width as needed */
  gap: 10px; /* Adjust the gap between boxes as needed */
}
.card {
  height: auto;
  width: 180px;
  background-color: #f3ce13;
  margin: 20px;
  padding-top: 7px;
  padding: 10px;
  align-items: center;
  flex: 5;
  color: rgb(26, 26, 26);
  border-radius: 10px;
  text-align: center;
}
.button {
  background-color: rgb(26, 26, 26);
  color: #f3ce13;
  margin: 6px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  text-overflow: clip;
}
/* .gen {
  display: grid;
} */
.title {
  font-size: large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.image {
  border-radius: 10px;
  height: 150px;
  width: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.genre {
  font-family: "Courier New", Courier, monospace;
  font-weight: 100px;
}
@media only screen and (max-width: 700px) {
  .header {
    height: 10%;
    overflow: scroll;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .card {
    width: auto;
    overflow: auto;
    height: 200px;
    text-align: left;
  }
  .button {
    height: 20px;
    display: inline-flex;
    margin: 4px;
  }
  .title {
    text-align: justify;
  }
  .image {
    display: flex;
    text-align: left;
  }
}
